{% load urls %}
עמוד:
<select style="width:auto;margin:0px;" onchange="document.location.href=this.options[this.selectedIndex].value;">
	{% for page in paginator.page_range %}
		<option value="{% add_params request.get_full_path page=page %}" {% if page == page_obj.number %}selected{% endif %}>{{ page }}</option>
	{% endfor %}
</select>







<div class="pagination_arrows">
	{% if page_obj.has_previous %}
		<a href="{% add_params request.get_full_path page=page_obj.previous_page_number %}">
	{% else %}
		<a class="disabled">
	{% endif %}
	‹ הקודם</a>
		|
	{% if page_obj.has_next %}
		<a href="{% add_params request.get_full_path page=page_obj.next_page_number %}">
	{% else %}
		<a class="disabled">
	{% endif %}
		הבא ›</a>
</div>
