<div class="navbar main">
	<ul class="nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				על המכון
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">אודותינו</a></li>
				<li><a href="#">אירועים</a></li>
				<li><a href="#">הודעות</a></li>
				<li><a href="#">מטרות המכון</a></li>
				<li><a href="#">צור קשר</a></li>
				<li><a href="#">תורמים</a></li>
			</ul>
		</li>

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				תחומי עיצוב
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">עיצוב אופנה</a></li>
				<li><a href="#">תקשורת חזותית</a></li>
				<li><a href="#">עיצוב טקסטיל</a></li>
				<li><a href="#">עיצוב מבנה</a></li>
				<li><a href="#">עיצוב קרמי</a></li>
				<li><a href="#">עיצוב תכשיטים</a></li>
				<li><a href="#">עיצוב תעשייתי</a></li>

			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				תחומים חזותיים
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">אוספים</a></li>
				<li><a href="#">מעצבים</a></li>
				<li><a href="#">נושאים</a></li>
				<li><a href="#">קטגוריות</a></li>
				<li><a href="#">לפי שנים</a></li>
				<li><a href="#">סגנונות והשפעות</a></li>
				<li><a href="#">תערוכות</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				תחומים עיוניים
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">כתבות בעיתונות</a></li>
				<li><a href="#">כתבי עת</a></li>
				<li><a href="#">מאמרים</a></li>
				<li><a href="#">סרטים</a></li>
				<li><a href="#">פילוסופיות</a></li>
				<li><a href="#">קישורים</a></li>
				<li><a href="#">רשימות ביבלוגרפיה</a></li>
				<li><a href="#">תאוריות</a></li>
			</ul>
		</li>



		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				אישי
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">איסוף עבודות</a></li>
				<li><a href="#">הערות</a></li>
				<li><a href="#">מחולל מצגות</a></li>
				<li><a href="#">שליחת עבודות</a></li>
				<li><a href="#">עריכה 1</a></li>
				<li><a href="#">עריכה 2</a></li>
				<li><a href="#">עריכה 3</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				עזרה
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">ביטויים ומושגים</a></li>
				<li><a href="#">הדרכה למעצבים</a></li>
				<li><a href="#">הערות</a></li>
				<li><a href="#">מבנה האתר</a></li>
				<li><a href="#">מדריך לעובד</a></li>
				<li><a href="#">עזרה אישית</a></li>
				<li><a href="#">תזאורוס</a></li>
			</ul>
		</li>

	</ul>
	<form class="navbar-search">
		<input type="text" class="input-medium" placeholder="חיפוש">
	</form>
	<ul class="nav pull-right">


		<li><a class="language" href="#">עברית</a></li>
		<li><a class="language" href="#">العربية</a></li>
		<li><a class="language" href="#">English</a></li>
	</ul>
</div>
