<!DOCTYPE html>
<html dir="RTL" lang="he">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sidar_admin/css/bootstrap.rtl.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sidar_admin/css/override.css">
	<script type="text/javascript" src="{{ STATIC_URL }}sidar_admin/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}sidar_admin/js/bootstrap-rtl.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}sidar_admin/js/holder.js"></script>
</head>
<body>
	<div class="container">
		<div style="" class="sidar-heading">
			<img src="{{ STATIC_URL }}sidar_admin/img/shenkar_logo.png">
			<span>
				מכון שנקר לתיעוד וחקר העיצוב
				معهد شنكار لتوثيق وبحث التصميم في اسرائيل
				Shenkar Design Archive & Research Center Israel
			</span>
		</div>
		<img src="{{ STATIC_URL }}sidar_admin/img/sidar_logo_horizontal.jpg" class="sidar-horizontal-logo">
		<div class="navbar main">
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							על המכון
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">אודותינו</a></li>
							<li><a href="#">אירועים</a></li>
							<li><a href="#">הודעות</a></li>
							<li><a href="#">מטרות המכון</a></li>
							<li><a href="#">צור קשר</a></li>
							<li><a href="#">תורמים</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							תחומי עיצוב
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">עיצוב אופנה</a></li>
							<li><a href="#">תקשורת חזותית</a></li>
							<li><a href="#">עיצוב טקסטיל</a></li>
							<li><a href="#">עיצוב מבנה</a></li>
							<li><a href="#">עיצוב קרמי</a></li>
							<li><a href="#">עיצוב תכשיטים</a></li>
							<li><a href="#">עיצוב תעשייתי</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							תחומים חזותיים
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">אוספים</a></li>
							<li><a href="#">מעצבים</a></li>
							<li><a href="#">נושאים</a></li>
							<li><a href="#">קטגוריות</a></li>
							<li><a href="#">לפי שנים</a></li>
							<li><a href="#">סגנונות והשפעות</a></li>
							<li><a href="#">תערוכות</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							תחומים עיוניים
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">כתבות בעיתונות</a></li>
							<li><a href="#">כתבי עת</a></li>
							<li><a href="#">מאמרים</a></li>
							<li><a href="#">סרטים</a></li>
							<li><a href="#">פילוסופיות</a></li>
							<li><a href="#">קישורים</a></li>
							<li><a href="#">רשימות ביבלוגרפיה</a></li>
							<li><a href="#">תאוריות</a></li>
						</ul>
					</li>



					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							אישי
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">איסוף עבודות</a></li>
							<li><a href="#">הערות</a></li>
							<li><a href="#">מחולל מצגות</a></li>
							<li><a href="#">שליחת עבודות</a></li>
							<li><a href="#">עריכה 1</a></li>
							<li><a href="#">עריכה 2</a></li>
							<li><a href="#">עריכה 3</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							עזרה
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">ביטויים ומושגים</a></li>
							<li><a href="#">הדרכה למעצבים</a></li>
							<li><a href="#">הערות</a></li>
							<li><a href="#">מבנה האתר</a></li>
							<li><a href="#">מדריך לעובד</a></li>
							<li><a href="#">עזרה אישית</a></li>
							<li><a href="#">תזאורוס</a></li>
						</ul>
					</li>

				</ul>
				<form class="navbar-search">
					<input type="text" class="input-medium" placeholder="חיפוש">
				</form>
				<ul class="nav pull-right">


					<li><a class="language" href="#">עברית</a></li>
					<li><a class="language" href="#">العربية</a></li>
					<li><a class="language" href="#">English</a></li>
				</ul>
		</div>


		<div class="clearfix"></div>
		<ul class="breadcrumb">
			<li><a href="#">תחומי עיצוב</a><span class="divider">/</span></li>
			<li><a href="#">תקשורת חזותית</a> <span class="divider">/</span></li>
			<li><a href="#">מעצבים</a> <span class="divider">/</span></li>
			<li class="active">שם התוצאה</li>
		</ul>

		{% block contents %}{% endblock contents %}

		<hr>
		<footer>
			מכון שנקר לתיעוד וחקר העיצוב בישראל, כל הזכויות שמורות 2013 ©
		</footer>

	</div>
</body>
</html>
