.DS_Store
*.pyc
sqlite3.db
venv
media
*.log
*.pot
local_settings.py
*.sublime-project
*.sublime-workspace
.ropeproject
sqlite3.db-journal
Thumbs.db
*.swp

# Ignore virtualenv directories:
bin
lib
share
src
include
build
.Python
