{% extends "table.html" %}
{% load date_tags %}




{% block body_class %}years{% endblock body_class %}
{% block maintitle %}שנים{% endblock maintitle %}

{% block sidebar_extensions %}
<div id="changer"></div>

{% endblock sidebar_extensions %}

{% block table_rows %}
<tr>
	<th>שנים</th>
	<th style="width:42%;">מאורעות ואירועים היסטוריים</th>
	<th style="width:42%;">מאורעות ואירועים ב{{ discipline.long_name }}</th>
</tr>

{% regroup event_list by get_decade as decade_list %}
{% for decade in decade_list %}
	<tr>
		<td class="rainbowcell rbcell_{{ forloop.counter }}">
			{% if forloop.first %}
				<a href="{% url 'work-list' discipline=discipline.id from=0 until=decade.grouper|add:10 %}">עד {{ decade.grouper|add:10 }}
					| {% hebrew_year decade.grouper|add:10 %}
			{% else %}
				<a href="{% url 'work-list' discipline=discipline.id from=decade.grouper until=decade.grouper|add:'9' %}">{{ decade.grouper }} - {{ decade.grouper|add:"9"}}
					| {% hebrew_year decade.grouper %}
			{% endif %}

			</a>
		</td>
		
		<td id="div1">
			
			<span style="cursor: pointer;visibility: visible" title=""  >
					<div class="dparent" onClick="show(this)">
					{% for event in decade.list  %}
						{% if event.is_important and event.type == event.HISTORICAL %}
							{{ event.description|truncatewords:2|slice:"0:-1" }},
						{% endif %}
					{% endfor %}
									
					{% for event in decade.list %}
					{% if forloop.first%}
					
						{% if event.is_important and event.type == event.HISTORICAL %}
								<br>
								<div class="dchild" >
									{% for event in decade.list  %}
									{% if event.is_important and event.type == event.HISTORICAL %}
										{{ event.year }} - {{ event }} &#10;
									{% endif %}<br>
								{% endfor %}
								</div>	
							
						{% endif %}
						
					{%endif%}
					{% endfor %}
					</div>
			</span>
			
		</td>
		<td style="">
			<span style="cursor: pointer;" title="">
				<div class="dparent" class="dparent" onClick="show(this)">
					{% for event in decade.list  %}
					{% if event.is_important and event.type != event.HISTORICAL %}
							{{ event.description|truncatewords:2|slice:"0:-1" }},
						{% endif %}
					{% endfor %}
									
					{% for event in decade.list %}
					{% if forloop.first%}
					
						{% if event.is_important and event.type != event.HISTORICAL %}
								<br>
								<div class="dchild" >
									{% for event in decade.list  %}
									{% if event.is_important and event.type != event.HISTORICAL %}
										{{ event.year }} - {{ event }} &#10;
									{% endif %}<br>
								{% endfor %}
								</div>	
							
						{% endif %}
						
					{%endif%}
					{% endfor %}
					</div>
			</span>
		</td>
	</tr>
{% endfor %}
{% endblock table_rows %}
