{% extends "table.html" %}
{% load date_tags %}


{% block body_class %}years{% endblock body_class %}
{% block maintitle %}שנים{% endblock maintitle %}

{% block sidebar_extensions %}
<div id="changer"></div>
{% endblock sidebar_extensions %}

{% block table_rows %}
<tr>
	<th>שנים</th>
	<th>מאורעות ואירועים היסטוריים</th>
	<th>מאורעות ואירועים ב{{ discipline.long_name }}</th>
</tr>

{% regroup event_list by get_decade as decade_list %}
{% for decade in decade_list %}
	<tr>
		<td class="rainbowcell rbcell_{{ forloop.counter }}">
			{% if forloop.first %}
				<a href="{% url work-list discipline=discipline.id from=0 until=decade.grouper %}">עד {{ decade.grouper }}
			{% else %}
				<a href="{% url work-list discipline=discipline.id from=decade.grouper until=decade.grouper|add:'9' %}">{{ decade.grouper }} - {{ decade.grouper|add:"9"}}
			{% endif %}
			| {% hebrew_year decade.grouper %}
			</a>
		</td>
		<td>
			<span style="cursor: help;" title="{% for event in decade.list %}{% if event.type == event.HISTORICAL %}{{ event.year }} - {{ event }}&#10;{% endif %}{% endfor %}">
				{% for event in decade.list %}
					{% if event.is_important and event.type == event.HISTORICAL %}
						{{ event|truncatewords:2 }}
					{% endif %}
				{% endfor %}
			</span>
		</td>
		<td>
			<span style="cursor: help;" title="{% for event in decade.list %}{% if event.type != event.HISTORICAL %}{{ event.year }} - {{ event }}&#10;{% endif %}{% endfor %}">
				{% for event in decade.list %}
					{% if event.is_important and event.type != event.HISTORICAL %}
						{{ event|truncatewords:2 }}
					{% endif %}
				{% endfor %}
			</span>
		</td>
	</tr>
{% endfor %}

{% endblock table_rows %}