select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding: 2px 3px;
	margin-bottom: inherit;
}

input[type="file"] {
	padding: 0;
}

input[type="checkbox"] {
	float: left;
	margin-left: 56.9em;
}

.vTextField, .vIntegerField, input{
	width: 420px;
}

.vLargeTextField, .vXMLLargeTextField {
	width: 57em;
}

select {
	height: 24px;
	width: 426px;
}

p.help {
	padding-left: 0;
	margin-left: 0;
	margin-right: 10em;
}

label {
	margin-bottom: inherit;
	display: inline;
}

.aligned label {
	padding: 3px 10px 0 0;
}

.button, input[type="submit"], input[type="button"], .submit-row input {
	margin-top: 3px;
	padding: 0 5px;
}
.button.default, input[type="submit"].default, .submit-row input.default {
	border-width: 1px;
}

li {
	line-height: 14px;
}

.add-another {
	display: none;
}

p.datetime {
	margin-left: 0;
	margin-right: 106px;
}

fieldset.module.aligned {
	position: relative;
}

div br+img {
	position: absolute;
	left: 0;
	top: 0;
	width: 40%;
}
