{% extends "website/table.html" %}
{% block body_class %}category{% endblock body_class %}
{% block maintitle %}קטגוריות{% endblock maintitle %}
{% block table_rows %}

<tr>
	<th>קטגוריות בעיצוב</th>
	<th>קטגוריות משנה	</th>
	<th style="text-align: left;">Categories</th>
</tr>
{% for category_group in object_list %}
<tr>
	<td class="rainbowcell rbcell_{{ forloop.counter }}"></td>
	<td>
		{% for category in category_group %}
			<a href="{% url work-list discipline.id %}?category={{ category.id }}">{{ category }}</a>
			{% if not forloop.last %}-{% endif %}
		{% endfor %}
	</td>
	<td style="text-align: left;"></td>
</tr>
{% endfor %}
{% endblock table_rows %}