{% extends "website/table.html" %}

{% block body_class %}years{% endblock body_class %}
{% block maintitle %}שנים{% endblock maintitle %}

{% block table_rows %}
<tr>
	<th>שנים</th>
	<th>מאורעות ואירועים היסטוריים</th>
	<th>מאורעות ואירועים בעיצוב</th>
</tr>
{% for year in decades %}
{% if forloop.first %}
<tr>
	<td class="rainbowcell rbcell_{{ forloop.counter }}">עד {{ year }} | </td>
	<td></td>
	<td></td>
</tr>		
{% endif %}
<tr>
	<td class="rainbowcell rbcell_{{ forloop.counter|add:"1" }}">{{ year }}-{{ year|add:"9" }} | </td>
	<td></td>
	<td></td>
</tr>	
{% endfor %}



{% endblock table_rows %}