{% extends "website/base.html" %}

{% block navigation %}
<ul>
	<li class="navitem_1"><a href="about.php?pos=gd">עיצוב {{ discipline }}<span></span></a></li>
	<li class="navitem_2"><a href="timeline.php?pos=gd">שנים<span></span></a></li>
	<li class="navitem_3"><a href="{% url category-list discipline.id %}">קטגוריות<span></span></a></li>
	<li class="navitem_4"><a href="{% url subject-list discipline.id %}">נושאים<span></span></a></li>
	<li class="navitem_5"><a href="{% url designer-list discipline.id %}">מעצבים<span></span></a></li>
	<li class="navitem_6"><a href="articles.php?pos=gd">מאמרים<span></span></a></li>
	<li class="navitem_7"><a href="links.php?pos=gd">קישורים<span></span></a></li>
	<li class="navitem_8"><a href="biblio.php?pos=gd">ביבליוגרפיה<span></span></a></li>
	<li class="navitem_9"><a href="movies.php?pos=gd">סרטים<span></span></a></li>
	<li class="navitem_10"><a href="events.php?pos=gd">ארועים<span></span></a></li>
</ul>
{% endblock navigation %}

{% block maintitle %}
{% endblock maintitle %}