/*-----------------------------------------------
Purpose: Secondary CSS File
Version: 0.2
Author: Shimi Kahlon
Date: 22-2-13
-----------------------------------------------*/

/* 3x2 side bar */
.three_on_two 
{
	float: right;
	width: 56.6%;
	height: 372px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.three_on_two ul.keys, .three_on_two ul.values, .three_on_two ul.test
{
	height: 100%;
	float: right;
	list-style-type: none;
	border-left: 1px solid #B8B8B8;
}

.three_on_two ul.keys li, .three_on_two ul.test li
{
	width: 95%;
	height: 20px;
	margin: 0;
	margin-right: -0.1%;
	border: 0;
	border-bottom: 1px solid #B8B8B8;
	font-size: 12px;
	text-align: right;
	padding: 0.5% 5% 0.3% 0;
}

.three_on_two ul.values li 
{
	width: 95%;
	height: 20px;
	margin: 0;
	margin-right: -0.1%;
	border: 0;
	border-bottom: 1px solid #B8B8B8;
	font-size: 12px;
	text-align: right;
	padding: 0.5% 5% 0.1% 0;
}

.keys
{
	width: 20%;
}

.values
{
	width: 26%;
}

.personal_comments
{
	width: 52%;
	border: 0;
	font-family: arial;
	padding-right: 1.3%;
}

/* 1x2 side bar */
.one_on_two
{
	float: right;
	width: 17.4%;
	height: 372px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.one_on_two ul
{
	list-style: none;
	display: block;
	margin-top: 5%;
}

.one_on_two ul li 
{
	width: 100%;
	height: 5%;
	/*position: relative;*/
	border: 0;
	border-bottom: 1px solid #B8B8B8;
	font-size: 12px;
	margin: 0;
}

.one_on_two ul li a:link, .one_on_two ul li a:visited 
{
	width: 96%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	text-align: right;
	padding: 0.3em 4% 0 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin: 0;
}

.one_on_two ul li a:hover
{
	background: #D8D8D8;
}

.one_on_two input[type="text"]
{
	width: 90%;
	border: 0;
	border-bottom: 1px dotted #B8B8B8;
	margin-top: 10%;
	margin-right: 5%;
}


/* 2x2 side bar */
.two_on_two
{
	float: right;
	width: 37%;
	height: 372px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.two_on_two ul#two 
{
	list-style-type: none;
	display: block;
	font-size: 12px;
}

.two_on_two ul#two li
{
	width: 98.2%;
	height: 16px;
	text-align: right;
	border: 0;
	margin-right: -0.1%;
	margin-bottom: 0;
	border-bottom: 1px solid #B8B8B8;
	padding: 0.9% 2% 0.5% 0;
	/*padding-right: 2%;*/
}

.two_on_two ul#two li a:link, .two_on_two ul#two li a:visited
{
	width: 96%;
	height: 16px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 4% 0 0;
	font-size: 12px;
	background: #FFFFFF;
	border: 0;
	margin: 0;
}

.two_on_two ul#two li a:hover
{
	background: #D8D8D8;
}

.two_on_two img 
{
	width: 100%;
	height: 100%;
	border: 0;
}

.two_on_two hr 
{
	margin-top: 3px;
}

ul.column1, ul.column2, ul.column3
{
	width: 33%;
	height: 100%;
	float: right;
	border-left: 1px solid #B8B8B8;
	background: #FFFFFF;
}


ul.column3
{
	width: 33%;
	border-left: 0;

}

ul.column1 li, ul.column2 li, ul.column3 li 
{
	width: 93%;
	height: 16.8px;
	margin-right: -1%;
	margin-top: -0.5%;
	border: 0;
	border-bottom: 1px solid #B8B8B8;
	font-size: 12px;
	text-align: right;
	padding: 1% 5%;
}

ul.column1 li a:link, ul.column1 li a:visited, ul.column2 li a:link, ul.column2 li a:visited, ul.column3 li a:link, ul.column3 li a:visited
{
	width: 95%;
	height: 15px;
	margin-right: -4%;
	margin-top: -0.1%;
	padding: 0.8% 5%;
	color: blue;
	background: none;
	opacity: 1;
	font-size: 12px;

}

ul.column1 li a:hover, ul.column2 li a:hover, ul.column3 li a:hover
{
	width: 98%;
	height: 18px;
	opacity: 0.5;
}

#keywords:hover
{
	background: #D9E1EE;
}

#keywords ul
{
	width: 99%;
	height: 1830%;
	background: #FFFFFF;
	display: none;
	position: absolute;
	top: 105%;
	right: 1% !important;
	z-index: 1;
}

#keywords ul li 
{
	margin-top: 2%;
	margin-right: 5%;
	background: none !important;
	border: 0;
}
/* 3x1 */
.three_on_one
{
	float: right;
	width: 56.6%;
	height: 175px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.three_on_one ul
{
	width: 100%;
	height: 186px;
	float: right;
	font-size: 10px;
	list-style: none;
}

.three_on_one ul li 
{
	width: 98.9%;
	height: 8%;
	margin-right: -0.1%;
}

/* 1x3 */
.one_on_three
{
	float: right;
	width: 17.4%;
	height: 540px;
	margin-bottom: 2%;
	background: #FFFFFF;
	margin-right: 2%;
	margin-left: 0.2%;
}

.one_on_three ul
{
	list-style: none;
	display: block;
	width: 100%;
	background-image: url(../images/gradient5.jpg);
	opacity: 0.4;
}

.one_on_three ul li 
{
	width: 96%;
	height: 20px;
	color: #000000;
	display: block;
	padding: 0.3em 5% 0 0;
	margin-bottom: 4.84%;
	font-size: 12px;
	font-weight: bold;
	position: relative;


}

.one_on_three ul li a:link, .one_on_three ul li a:visited 
{
	width: 100%;
	height: 20px;
	color: #000000;
	display: block;
	text-decoration: none;
	padding: 0.3em 5% 0 0;
	border: 0;
	margin-right: -0.7em;
	margin-top: -0.3em;
	opacity: 1 !important;
	font-size: 12px;
	background: none !important;
}

.one_on_three ul li a:hover
{
	opacity: 0.5;
}

/* Gradient background */
.linearlistBg
{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(135,177,251,0.3)), to(rgba(165,164,164,0.3)),
		color-stop(6.25%, rgba(194,216,254,0.3)), color-stop(12.5%, rgba(169, 253, 255,0.3)), color-stop(18.75%, rgba(129,255,129,0.3)), color-stop(25%, rgba(182,251,183,0.3)),
		color-stop(31.25%, rgba(213,174,255,0.3)), color-stop(37.5%, rgba(255,184,218,0.3)), color-stop(43.75%, rgba(255,125,125,0.3)), color-stop(50%, rgba(254,173,130,0.3)),
		color-stop(56.25%, rgba(255,201,171,0.3)), color-stop(62.5%, rgba(253,230,137,0.3)), color-stop(68.75%, rgba(250,235,182,0.3)), color-stop(75%, rgba(225,224,224,0.3)),
		color-stop(81.25%, rgba(210,209,209,0.3)), color-stop(87.5%, rgba(185,185,185,0.3)));  /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(135,177,251,0.3) 0%, rgba(194,216,254,0.3) 6.25%, rgba(169, 253, 255,0.3) 12.5%, rgba(129,255,129,0.3) 18.75%, rgba(182,251,183,0.3) 25%, 
		rgba(213,174,255,0.3) 31.25%, rgba(255,184,218,0.3) 37.5%, rgba(255,125,125,0.3) 43.75%, rgba(254,173,130,0.3) 50%, rgba(255,201,171,0.3) 56.25%, rgba(253,230,137,0.3) 62.5%, 
		rgba(250,235,182,0.3) 68.75%, rgba(225,224,224,0.3) 75%, rgba(210,209,209,0.3) 81.25%, rgba(185,185,185,0.3) 87.5%, rgba(165,164,164,0.3) 93.75%);  /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, rgba(135,177,251,0.3) 0%, rgba(194,216,254,0.3) 6.25%, rgba(169, 253, 255,0.3) 12.5%, rgba(129,255,129,0.3) 18.75%, rgba(182,251,183,0.3) 25%, 
		rgba(213,174,255,0.3) 31.25%, rgba(255,184,218,0.3) 37.5%, rgba(255,125,125,0.3) 43.75%, rgba(254,173,130,0.3) 50%, rgba(255,201,171,0.3) 56.25%, rgba(253,230,137,0.3) 62.5%, 
		rgba(250,235,182,0.3) 68.75%, rgba(225,224,224,0.3) 75%, rgba(210,209,209,0.3) 81.25%, rgba(185,185,185,0.3) 87.5%, rgba(165,164,164,0.3) 93.75%);  /* FF3.6+ */
	background: -ms-linear-gradient(top, rgba(135,177,251,0.3) 0%, rgba(194,216,254,0.3) 6.25%, rgba(169, 253, 255,0.3) 12.5%, rgba(129,255,129,0.3) 18.75%, rgba(182,251,183,0.3) 25%, 
		rgba(213,174,255,0.3) 31.25%, rgba(255,184,218,0.3) 37.5%, rgba(255,125,125,0.3) 43.75%, rgba(254,173,130,0.3) 50%, rgba(255,201,171,0.3) 56.25%, rgba(253,230,137,0.3) 62.5%, 
		rgba(250,235,182,0.3) 68.75%, rgba(225,224,224,0.3) 75%, rgba(210,209,209,0.3) 81.25%, rgba(185,185,185,0.3) 87.5%, rgba(165,164,164,0.3) 93.75%);  /* IE10+ */
	background: -o-linear-gradient(top, rgba(135,177,251,0.3) 0%, rgba(194,216,254,0.3) 6.25%, rgba(169, 253, 255,0.3) 12.5%, rgba(129,255,129,0.3) 18.75%, rgba(182,251,183,0.3) 25%, 
		rgba(213,174,255,0.3) 31.25%, rgba(255,184,218,0.3) 37.5%, rgba(255,125,125,0.3) 43.75%, rgba(254,173,130,0.3) 50%, rgba(255,201,171,0.3) 56.25%, rgba(253,230,137,0.3) 62.5%, 
		rgba(250,235,182,0.3) 68.75%, rgba(225,224,224,0.3) 75%, rgba(210,209,209,0.3) 81.25%, rgba(185,185,185,0.3) 87.5%, rgba(165,164,164,0.3) 93.75%);  /* Opera 11.10+ */
}

/* end gradient backgrounds */

/* 2x1 */
.two_on_one
{
	float: right;
	width: 37%;
	height: 175px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;	
}


/* 1x1 */
.one_on_one
{
	float: right;
	width: 17.4%;
	height: 175px;
	background: #FFFFFF;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
	
}

.one_on_one p, .one_on_two p 
{
	width: 90%;
	font-size: 12px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	text-align: justify;
}

.one_on_one ul#one 
{
	width: 100%;
	list-style-type: none !important;
	display: block !important;
	overflow: hidden !important;
	margin-top: 10%;
}

.one_on_one ul#one li
{
	width: 100%;
	height: 16px;
	position: relative;
	font-size: 12px;
	border: 0;
	text-align: right;
}

.one_on_one ul#one li a:link, .one_on_one ul#one li a:visited
{
	width: 100%;
	line-height: 16px;
	color: #000000;
	text-decoration: none;
	padding: 1% 5% 1% 0;
	background: #FFFFFF;
	margin-right: -2%;
}

.one_on_one ul#one li a:hover
{
	background: #D8D8D8;
}

.one_on_one input[type="text"]
{
	width: 97%;
	height: 20px;
	background: #FFFFFF;
	margin-right: 0.1%;
	margin-top: 0;
	border-bottom: 1px solid #B8B8B8;
}

.one_on_one article
{
	height: 75.5%;
	margin-top: -0.1em;
	overflow: auto;
	background: #F0F0F0;
	font-size: 12px;
	text-align: right;
}

.one_on_one article section 
{
	margin-top: 3%;
}

.one_on_one article input[type="checkbox"]
{
	font-size: 10px;
	color: red;
	margin-right: 5%;
	margin-top: 1%;
}

.one_on_one article img
{
	width: 100%;
	height: 100%;
	margin-right: -12%;
}

/* 4x4 */
.four_on_four
{
	float: left;
	width: 76.2%;
	height: 767px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
}

.four_on_four ul
{
	list-style-type: none;
}

.four_on_four ul li 
{
	padding: 0.1em 0.5em 0.1em 0;
	font-size: 12px;
	/*border-bottom: 1px solid #B8B8B8;*/	
}

.five_on_four
{
	width: 95.8%;
	height: 708px;
	border: 1px solid #B8B8B8;
	margin-right: 2%;
	margin-bottom: 2%;
}

.five_on_four ul
{
	list-style-type: none;
}

.five_on_four ul li 
{
	width: 90%;
	height: 18px;
	margin-right: -0.5%;
	margin-bottom: 0;
	padding-right: 10%;
	font-size: 12px;
	border: 0;
	text-align: right;	
}

.author, .book_name, .publishing, .catalogue_num, .design_area, .bibliography_comments
{
	height: 100%;
	float: right;
	border-left: 1px solid #B8B8B8;
	background: #FFFFFF;
}

.author
{
	width: 15%;
}

.book_name
{
	width: 15%;
}

.publishing 
{
	width: 33.3%;
}

.catalogue_num
{
	width: 12%;
}

.design_area
{
	width: 12%;
}

.bibliography_comments
{
	width: 12%;
	border: 0;
}


/* 1x4 */
.one_on_four
{
	float: right;
	width: 17.4%;
	height: 765px;
	margin-right: 2%;	
	margin-bottom: 2%;
	background: #FFFFFF;
	border: 1px solid #B8B8B8;
	position: relative;
}

.one_on_four ul#rightList
{
	list-style: none;
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 2%;
}

.one_on_four ul#rightList li 
{
	width: 90%;
	height: 2%;
	margin-right: -0.01%;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #F0F0F0;
	/*font-weight: bold;*/
	font-size: 12px;
	text-align: right;
	padding: 2% 5%; 
}

.one_on_four ul#rightList li:hover
{
	background: #F8F8F8;	
}

.one_on_four ul#rightList li a:link, .one_on_four ul#rightList li a:visited 
{
	width: 100%;
	height: 100%;
	margin-right: -5%;
	margin-top: -2%;	
	padding: 2% 5%; 
	background: none;
	opacity: 1;
	font-size: 12px;
}

.one_on_four ul#rightList li a:hover
{
	/*opacity: 0.5;*/
	background: #F8F8F8;
}

.one_on_four ul#leftList
{
	list-style: none;
	display: block;
	width: 100%;
	height: 100%;
}

.one_on_four ul#leftList li 
{
	width: 90%;
	height: 2.01%;
	/*height: 1%;*/
	margin-right: -0.1%;
	border: 0;
	margin: 0;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	padding: 2% 5%;
}

.one_on_four ul#leftList li a:link, .one_on_four ul#leftList li a:visited 
{
	width: 100%;
	height: 100%;
	margin-right: -5.5%;
	margin-top: -2%;	
	padding: 2% 5%;
	background: none;
	opacity: 1;
	font-size: 12px;
}

.one_on_four ul#leftList li a:hover
{
	/*opacity: 0.5;*/
}

.one_on_four ul li a img
{
	width: 96%;
	height: 171px;
}

.designer_categories
{
	width: 100% !important;
	height: 2.01% !important;
	font-size: 12px;
	border: 0 !important;
	margin: 0 !important;
}

.designer_categories select
{
	width: 100%;
	height: 130%;
	line-height: 10px;
	cursor: pointer;
	margin-right: -5%;
	margin-top: -1.8%;
	/*padding-top: 1%;*/
	margin-bottom: 0;
}

option
{
	cursor: pointer;
}

.designer_link
{
	width: 89% !important;
	height: 170px !important;
	margin-top: -2.5% !important;
	margin-right: -0.4% !important;
}

.designer_link a
{
	width: 166px !important;
	height: 166px !important;
}

.designer_link img
{
	width: 100% !important;
	height: 100% !important;
	margin: 0.5% -4% 0 0; 
}

.design_area_section
{
	float: left !important;
	margin-left: 2% !important;
}

.underline
{
	border-bottom: 1px solid #B8B8B8 !important;
	margin-bottom: 5% !important;
}

/* Headlines */
.headline
{
	font-weight: bold;
	background: #F0F0F0;
	border-bottom: 1px solid #B8B8B8;
	padding-right: 0.85em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: 12px;
}

/*.headline
{
	background: #F0F0F0;
	font-weight: bold;
	padding: 1% 5% 1% 0;
	font-size: 12px;
}*/

#admission, #registration
{
	width: 95%;
	cursor: pointer;
	height: 16px;
	font-size: 12px;
	margin-top: 5%; 
	margin-bottom: -2%;
	margin-right: 5%;
	text-align: right;
	border: 0;
	font-weight: bold;	
}

/* Forms definitions */
#admission_form, #registration_form
{
	display: none;
	width: 17.4%;
	height: 174px;
	position: absolute;
	top: 0;
	right: 21.7%;
	background: rgb(247, 247, 247);
	font-size: 12px;
	margin-top: 1px;
}


#admission_form label, #registration_form label
{
	padding-right: 5%;
	line-height: 21px;
}

#admission_form input[type="text"], #admission_form input[type="password"], #admission_form input[type="email"], 
#registration_form input[type="text"], #registration_form input[type="password"], #registration_form input[type="email"]
{
	width: 96%;
	height: 16px;
	background: #E8E8E8;
	margin-bottom: 1%;
}

#admission_form input[type="submit"], #registration_form input[type="submit"]  
{
	width: 98%;
	height: 21px;
	font-weight: bold;
	text-align: right;
	padding: 0 4%;
	margin-right: 1%;
	font-family: arial;
	font-size: 12px;
	position: absolute;
	bottom: 1%;
	right: 0;
	background: #E8E8E8;
	/*border-left: 2px solid #A0A0A0;*/
	/*border-right: 0;*/
	/*border-top: 2px solid #A0A0A0;*/
}

input[type="submit"].advanced_search
{
	width: 100%;
	height: 22px;
	font-weight: bold;
	background: #000000;
	margin-right: -0.01em;
	margin-top: -0.01em;
	font-family: arial;
	color: #FFFFFF;
	border-bottom: 2px solid #686868 ;
}

.one_on_two textarea
{
	/*border-bottom: 1px dotted #E8E8E8;*/
	margin-top: 10%;
}

.one_on_two input[type="submit"]
{
	width: 90%;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	margin-right: 4.5%;
	margin-top: 10%;
}

