{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}כניסה{% endblock %}

{% block content %}

<div class="row">

</div>
<div class="row">
    <div class="span2x5th">
        <div id="content-main">
            <form action="{{ app_path }}" method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit">
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                <div class="password-reset-link">
                    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                </div>
                {% endif %}
                <!--
                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
                </div>-->
            </form>
        </div>
    </div>
</div>
{% endblock %}
