
.breadcrumb {
	background-color: inherit;
	padding-top : 0;
}

.main.navbar, .breadcrumb {
	margin-bottom: 0;
}


.main.navbar .nav {
	font-size: 16px;
	font-weight: bold;
}

.main.navbar .nav:first-child li a {
	padding-right: 0;
	padding-left: 0;
	margin-left: 15px;
}

.span5th {
	width: 172px;
	height: 172px;
}

.span2x5h {
	width: 364px;
	height: 364px;
}


.language {
	/*padding-right: 0 !important;*/
	padding-left: 0 !important;
}


.dropdown-menu, .breadcrumb {
	font-size: 0.8em;
}

.sidar-horizontal-logo {
	margin-bottom:7px;
	margin-top:7px;
}

.sidar-heading {
	margin-top: 12px;
}

.sidar-heading span {
	font-size: 17px; font-weight: bold;
	float:left;
}

.sidar-heading img {
	height:30px;
}

.breadcrumb {
	padding-right: 0;
}

.nav.pull-right {
	margin-left: 0;
}

.dropdown-menu {
	padding-right: 10px;
	min-width: 0;
}

.square {
	background-color: #EEEEEE;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 162px;
	width: 162px;
}

#header {
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
}

#user-tools {
	float:left;
}

#content-main {
	float: none !important;
}

#changelist table tbody td, #changelist table tbody th {
	border-left: 0 !important;
}

/*.object-tools {
	list-style-type: none;
}*/