

#header {
	background-color: #015893;
}

#site-name {
	color: white !important;
	font-size: 14px !important;
	margin: 2px 0px !important;
	font-weight: bold !important;
}

h1 {
	font-size: 14px !important;
	font-weight: bold;
	color: black;
}

a:hover, a:link, a:visited {
	color: #015893;
}

.actions {
	height: 34px;
}


/*
#sidar_header {
	border-bottom: 1px solid black;
	height: 35px;
	line-height: 35px;
}
#sidar_header h1 {
	display: inline;
}

#sidar_header img {
	height: 30px;
	vertical-align: middle;
}

.shenkar_logo {
	height: 2.5em;
}

.sidar_logo {
	height: 1.5em;
}

#header {
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}*/
