{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block maintitle %}
דף איסוף עבודות - {{ collectable_list.count }} תוצאות
{% endblock maintitle %}
{% block body_class %}collect{% endblock body_class %}

{% block pagination %}
<a href="javascript:window.print()">הדפסה</a>
|
<a href="{% url collection-sortable-list %}">סדרן שקופיות</a>

{% endblock pagination %}

{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}collection/js/application.js"></script>
{% endblock extra_js %}

{% block pagebody %}
<table class="generaltable" cellspacing="2" border="1">
	<tbody>

		{% for object in collectable_list %}

		<tr>
			{% include "backoffice/includes/work_summary.html" with work=object.original_work %}
			<td class="preview_collectactions_td" valign="top">
				<table class="generaltable">
					<tbody>
						<tr>
							<td colspan="3">
								<form method="post" action="{{ object.id }}/" class="collectable-update">
									{% csrf_token %}
									<textarea id="remarks-text" name="comments">{{ object.comments }}</textarea>
								</td>
							</tr>
							<tr>
								<td style="text-align:center;">
									<input type="submit" value="שמירה" style="color:blue;">
								</form>
							</td>
							<td style="text-align:center;">
								<form method="post" action="{{ object.id }}/delete/" class="collectable-delete">
									{% csrf_token %}
									<input type="submit" value="הסרה" style="color:red;">
								</form>

							</td>
							<td style="text-align:center;">
								<form method="post" action="{{ object.id }}/down/" style="display:inline;">
									{% csrf_token %}
									<input type="submit" value="▼" style="color:green;float:left;">
								</form>


								<form method="post" action="{% url collectable-up object.id %}" style="display:inline;">
									{% csrf_token %}
									<input type="submit" value="▲" style="color:green;float:left;">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</td>

		</tr>

		{% endfor %}
		<tr></tr>





	</tbody></table>
	{% endblock pagebody %}
