<script type="text/javascript" src="{{ STATIC_URL }}website/js/collection.js"></script>

<div class="sidebar_block">
	<div class="sidebar_block_title">
		שלום,
		{% if user.is_authenticated %}
		{{ user.username }}
		{% else %}
		אורח/ת
		{% endif %}
	</div>

	{% if user.is_authenticated and work %}
	<form method="post" action="collect/" id="collect_form">
		{% csrf_token %}
		<a href="" class="sidebar_linkitem">הוסף עבודה זו לדף האישי</a>
	</form>
	{% endif %}

	{% if user.is_authenticated %}
	<a href="javascript:void(show_collect_win('{% url 'collection-home' %}'));" class="sidebar_linkitem" id="open_collection_link">פתח את הדף האישי</a>
	{% else %}
	<a href="javascript:displayLoginBox();" id="personal_page_link" class="sidebar_linkitem">כניסה למערכת הדף האישי</a>
	<div id="login" style="display:none;">
		<div class="sidebar_block_title" style="display:block;margin-bottom:0px;">כניסה למערכת הדף האישי</div>
		<div class="sidebar_block_content" style="background-color:#DDDFE1;text-decoration:none;padding-top:8px;">
			<form method="post" name="login_form" id="login_form" action="{% url 'django.contrib.auth.views.login' %}" target="_top">
				{% csrf_token %}
				<table border="0" style="width:100%;display:inline;">
					<tbody>
						{% include "registration/login.html" with form=login_form %}
					</tbody>
					<tfoot>
						<tr>
							<td></td>
							<td>
								<div style="text-align:justify;padding-top:8px;padding-bottom:8px;">
									הדף האישי מאפשר איסוף עבודות, הוספת מלל ושמירתן.
									ניתן להדפיס דף זה ולהקרינו כמצגת.
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="{% url 'register' %}?next={{ path }}">הרשמת משתמש חדש</a>
								<input type="submit" value="כניסה">
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
		</div>
	</div>

	{% endif %}

	{% if user.is_authenticated %}
		{% include "feedback.html" %}
	{% endif %}






	<a class="sidebar_linkitem disabled" style="background-image:url({{ STATIC_URL }}website/images/social_icons.png);background-position:left center;background-repeat:no-repeat;">צ'אט (לא פעיל)</a>


	{% if user.is_authenticated %}
	<a href="{% url 'django.contrib.auth.views.logout' %}?next={{ path }}" class="sidebar_linkitem" style="color:#C70000;">יציאה מהמערכת</a>
	{% else %}
	<a href="#" class="sidebar_linkitem disabled">יציאה מהמערכת</a>
	{% endif %}

</div>
