{% extends "base.html" %}

{% block body_class %}pages{% endblock body_class %}

{% block pos %}{{ discipline.name_en|first|lower }}d{% endblock pos %}

{% block navigation %}
<ul>
	<li class="navitem_1"><a href="{% url discipline-about discipline.id %}">עיצוב {{ discipline }}<span></span></a></li>
	<li class="navitem_2"><a href="{% url decade-list discipline.id %}">שנים<span></span></a></li>
	<li class="navitem_3"><a href="{% url category-list discipline.id %}">קטגוריות<span></span></a></li>
	<li class="navitem_4"><a href="{% url subject-list discipline.id %}">נושאים<span></span></a></li>
	<li class="navitem_5"><a href="{% url designer-list discipline.id %}">מעצבים<span></span></a></li>
	<li class="navitem_6"><a href="{% url article-list discipline.id %}">מאמרים<span></span></a></li>
	<li class="navitem_7"><a href="{% url link-list discipline.id %}">קישורים<span></span></a></li>
	<li class="navitem_8"><a href="{% url book-list discipline.id %}">ביבליוגרפיה<span></span></a></li>
	<li class="navitem_9"><a href="{% url video-list discipline.id %}">סרטים<span></span></a></li>
	<li class="navitem_10"><a href="{% url event-list discipline.id %}">ארועים<span></span></a></li>
</ul>
{% endblock navigation %}

{% block maintitle %}
עיצוב גרפי
{% endblock maintitle %}

{% block sidebar %}
<a href="{% url search discipline.id %}" id="sidebar_searchlink">חיפוש מתקדם</a>

<script type="text/javascript" src="{{ STATIC_URL }}website/js/collection.js"></script>

<div class="sidebar_block">
	<div class="sidebar_block_title">
		שלום,
		{% if user.is_authenticated %}
		{{ user.username }}
		{% else %}
		אורח/ת
		{% endif %}
	</div>
	
	{% if user.is_authenticated and work %}
	<form method="post" action="collect/" id="collect_form">
		{% csrf_token %}
		<a href="" class="sidebar_linkitem">הוסף עבודה זו לדף האישי</a>
	</form>
	{% endif %}

	{% if  user.is_authenticated %}
	<a href="{% url collection-home %}" class="sidebar_linkitem" target="collection" id="open_collection_link">פתח את הדף האישי</a>
	{% else %}
	<a href="javascript:displayLoginBox();" id="personal_page_link" class="sidebar_linkitem">כניסה למערכת הדף האישי</a>
	<div id="login" style="display:none;">
		<div class="sidebar_block_title" style="display:block;margin-bottom:0px;">כניסה למערכת הדף האישי</div>
		<div class="sidebar_block_content" style="background-color:#DDDFE1;text-decoration:none;padding-top:8px;">
			<form method="post" name="login_form" id="login_form" action="{% url django.contrib.auth.views.login %}" target="_top">
				{% csrf_token %}
				<table border="0" style="width:100%;display:inline;">
					<tbody>
						{% include "registration/login.html" with form=login_form %}
					</tbody>
					<tfoot>
						<tr>
							<td></td> 
							<td>
								<div style="text-align:justify;padding-top:8px;padding-bottom:8px;">
									הדף האישי מאפשר איסוף עבודות, הוספת מלל ושמירתן.
									ניתן להדפיס דף זה ולהקרינו כמצגת.
								</div>
							</td>
						</tr>
						<tr>
							<td></td> 
							<td>
								<a>הרשמת משתמש חדש</a>
								<input type="submit" value="כניסה">
							</td>
						</tr>
					</tfoot>
				</table>
			</form>
		</div>
	</div>

	{% endif %}

	{# {% include "feedback.html" %} #}

	
	
	


	<a class="sidebar_linkitem disabled" style="background-image:url({{ STATIC_URL }}website/images/social_icons.png);background-position:left center;background-repeat:no-repeat;">צ'אט (לא פעיל)</a>


	{% if user.is_authenticated %}
	<a href="{% url django.contrib.auth.views.logout %}?next={{ path }}" class="sidebar_linkitem" style="color:#C70000;">יציאה מהמערכת</a>
	{% else %}
	<a href="#" class="sidebar_linkitem disabled">יציאה מהמערכת</a>	
	{% endif %}

</div>

{% block sidebar_extensions %}{% endblock sidebar_extensions %}

{% endblock sidebar %}