{% extends "backoffice/discipline_detail.html" %}
{% block body_class %}subject{% endblock body_class %}
{% block maintitle %}נושאים{% endblock maintitle %}
{% block pagination %}{% endblock pagination %}

{% block pagebody %}
{% regroup subject_list by parent as subject_groups %}
<table class="generaltable subjects_list">
	<tbody>
		<tr>
			<td> {# this TD is actually a column in the subject table ... twisted #}
				{% for group in subject_groups %}
					{% include "backoffice/includes/subject_table.html" %}
					{% if forloop.counter|divisibleby:2 and forloop.counter < 12 %}
						</td><td>
					{% endif %}
				{% endfor %}
			</td>
		</tr>
	</tbody>
</table>
{% endblock pagebody %}