{% extends "backoffice/discipline_detail.html" %}

{% block pagination %}
<ul>
	{% for page in paginator.page_range %}
	{% if page == paginator.num_pages or page == 1  or page == page_obj.next_page_number or page == page_obj.previous_page_number or page == page_obj.number%}
	<li
	{% if page == page_obj.number %}
	class="current">{{ page }}
	{% else %}
	><a href="?page={{ page }}&{{ filters }}">
	{{ page }}
</a>
{% endif %}

</li>
{% endif %}
{% endfor %}
</ul>
<div class="pagination_arrows">
	{% if page_obj.has_previous %}
	<a href="?page={{ page_obj.previous_page_number }}&{{ filters }}">
		{% else %}
		<a class="disabled">
			{% endif %}
			‹ הקודם</a>
			| 
			{% if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}&{{filters}}">
				{% else %}
				<a class="disabled">
					{% endif %}
					הבא ›</a>
				</div>

				{% endblock pagination %}


				{% block pagebody %}

				<div class="main_text_wrap">
					<table class="generaltable" cellspacing="2" border="1">
						<tbody>
							{% for work in object_list %}
							{% if forloop.counter0|divisibleby:2 %}<tr>{% endif %}
							{% include "backoffice/includes/work_summary.html" with work=work %}
						</td>
						{% if forloop.counter|divisibleby:2 %}</tr>{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endblock pagebody %}