{% extends "backoffice/discipline_detail.html" %}

{% block pagination %}
{% include "includes/pagination.html" %}
{% endblock pagination %}

{% block body_class %}{{ main_filter }}{% endblock body_class %}

{% block maintitle %}
	{% if main_filter == 'years' %}
		שנים ›
		{% if filters.from %}משנת {{ from }}{% endif %}
		{% if filters.until %}עד {{ until }}{% endif %}
	{% endif %}
	{% if main_filter == 'category' %}קטגוריות › {{ category }}{% endif %}
	{% if main_filter == 'subject' %}נושאים › {{ subject }}{% endif %}
	{% if main_filter == 'designer' %}מעצבים › {{ designer }}{% endif %}
	

{% endblock maintitle %}

{% block pagebody %}
<table class="generaltable" cellspacing="2" border="1">
	<tbody>
		<tr>
			{% for work in work_list %}
				{% include "backoffice/includes/work_summary.html" %}
				{% if forloop.last and not forloop.counter|divisibleby:2 %}
					{% include "backoffice/includes/work_summary.html" with work=None%}
				{% endif %}
				{% if forloop.counter|divisibleby:2 %}</tr><tr>{% endif %}
			{% endfor %}
		</tr>
	</tbody>
</table>

{% endblock pagebody %}


{% block sidebar_extensions %}
	{% if not filters.from == filters.until %}
		{% include "backoffice/sidebar_extensions/available_years.html" %}	
	{% endif %}

	{% if main_filter == "category" %}
		{% include "backoffice/sidebar_extensions/available_designers_in_category.html" %}
	{% endif %}

	{% if main_filter == "subject" %}
		{% include "backoffice/sidebar_extensions/available_designers_in_subject.html" %}
	{% endif %}

{% endblock sidebar_extensions %}