{% extends "includes/sidebar_extension.html" %}
{% block title %}מעצבים בקטגוריה זו{% endblock title %}
{% block body %}
	<select onchange='document.location.href=this.options[this.selectedIndex].value;'>
	<option value="{% url work-list discipline=discipline.id category=category.id %}">כל המעצבים</option>
	{% for item in category.available_designers %}
		<option value="{% url work-list discipline=discipline.id category=category.id %}designer/{{ item.id }}" {% if designer == item %}selected{% endif %}>{{ item }}</option>
	{% endfor %}
</select>
{% endblock body %}