{% extends "textual.html" %}
{% block maintitle %}
על אודות המכון
{% endblock maintitle %}

{% block subtitle %}
מכון שנקר לתיעוד וחקר העיצוב בישראל - על אודות המכון
{% endblock subtitle %}

{% block body %}

<div dir="rtl">
	מכון שנקר עוסק באהבת הארץ ותושביה ובעיצוב דרכה לאורך זמן.
</div>
<div dir="rtl">
	&nbsp;
</div>
<div dir="rtl">
	<strong>מכון שנקר</strong>
</div>
<div dir="rtl">
	מכון שנקר עוסק בהיסטוריית העיצוב מ-1882, מאז ההתיישבות הראשונה בארץ ישראל ועד בכלל. המכון עוסק באיסוף, בתיעוד ובחקר העיצוב על כל הדיסציפלינות שלו ובהן: עיצוב אופנה, עיצוב גרפי, עיצוב טקסטיל, עיצוב מבנה וסביבה, עיצוב קרמי, עיצוב תכשיטים ועיצוב תעשייתי.
</div>
<div dir="rtl">
	<strong>הייחוד</strong>
</div>
<div dir="rtl">
	ייחודו של המכון בכך שהוא מספר את סיפורו של העם דרך העולם החזותי, ומלווה את ההיסטוריה של ארץ ישראל לפני, בזמן ומאז קום המדינה ועד היום.
</div>
<div dir="rtl">
	<strong>הסיפור</strong>
</div>
<div dir="rtl">
	זהו סיפור על אהבה, על תקווה, על חברה, על מלחמה, על כלכלה, על קשיים ועל הצלחות. על חיי הפרט ועל חיי הקהילה.
</div>
<div dir="rtl">
	על המחתרות ועל ההתיישבות. על חומה ומגדל ועל מלחמת השחרור. על פוליטיקה ועל שחיתות. על הצנע של אז ועל השפע של היום, על צרכנות ועל מוצרים, על האדם ומאוויו. זהו מסמך נרטיבי מרתק שבו העולם החזותי משקף סגנונות ויצירתיות ומשתף אותנו בסיפור.
</div>
<div dir="rtl">
	<strong>העיצוב</strong>
</div>
<div dir="rtl">
	זהו סיפור של תקומה. סיפור שאותו מספרים כלים, משחקי ילדים, "שנות טובות", בגדים, תכשיטים, טיפוגרפיה, סמלים, לוגואים, אופנה, ספרים, כרזות, אריזות, רהיטים, תוויות, בולים, פרסום, איור, קומיקס ועוד ועוד ועוד.
</div>
<div dir="rtl">
	<strong>מורשת</strong>
</div>
<div dir="rtl">
	זהו סיפור על מורשת ארץ ישראל ועל מורשת מדינת ישראל דרך עולמם המופלא של המעצבים ושל עולם העיצוב.
</div>
<div dir="rtl">
	<strong>עיצוב התרבות</strong>
</div>
<div dir="rtl">
	זהו סיפור על תרבות העיצוב ועל עיצוב התרבות.
</div>
<div dir="rtl">
	&nbsp;
</div><strong><span dir="rtl">ראובן כהן</span></strong> <span dir="rtl">– ראש מכון שנקר לתיעוד וחקר העיצוב בישראל.</span>

{% endblock body %}