{% extends "textual.html" %}
{% block maintitle %}
מטרות המכון
{% endblock maintitle %}

{% block subtitle %}
מטרות
{% endblock subtitle %}

{% block body %}
<ul>
	<li>הקמת ארכיון דיגיטלי לתיעוד היסטורי ועכשווי של התפתחות העיצוב בישראל בתחומיו השונים <br><br></li>
	<li>תיעוד עבודות העיצוב ותהליכי עבודה של המעצבים המובילים אשר השפעתם נכרת בעיצוב ובחברה בישראל, בעבר ובהווה <br><br></li>
	<li>הקמת מרכז פעיל ללימוד וחקר העיצוב בישראל <br><br></li>
	<li>תמיכה בהוראת ולימוד תולדות העיצוב בארץ ובעולם <br><br></li>
	<li>מרכז מחקר הדן בעיצוב העכשווי ובראייה לעתיד, תחומי ההתמודדות ונגיעתם בתחומי החיים השונים <br><br></li>
	<li>הבנת חשיבות והשפעת העיצוב בחיי היום יום, ההשלכות החברתיות הכלכליות והטכנולוגיות, בישראל ובהיבט הגלובלי <br><br></li>
	<li>מרכז היוזם דיונים, כנסים וסמינרים בנושאים האמורים, וקשר עם מוסדות דומים ואישים בארץ ובחו"ל <br><br></li>
	<li>תמיכה לעבודות מחקר במסגרת לימודים לתאר שני <br><br></li>
	<li>הפצת המידע ודבר העיצוב, בתקשורת הכתובה והאלקטרונית, למודעות אנשי המקצוע והציבור הרחב <br><br></li>
	<li>מכון לתיעוד וחקר האות העברית</li>
</ul>
{% endblock body %}