#user-tools {
	float:left;
	position: static;
	padding: inherit;
	font-size: inherit;
}

#content-main {
	float: none !important;
}

#header {
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
}

ul li {
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
}

li, dt, dd {
	font-size: inherit;
}

div.breadcrumbs {
	background: none;
	border: 0;
}

thead th {
	background: url(../img/default-bg.gif) top left repeat-x;
}

thead th a:link, thead th a:visited, thead th {
    color: white;
}

thead th.sorted, table thead th.sortable:hover {
    background: #c5c5c5;
}

h1, h2, h3, h4, h5, h6 {
	line-height: inherit;
}

form {
	margin: inherit;
}
