#user-tools {
	float:left;
	position: static;
	padding: inherit;
	font-size: inherit;
}

#content-main {
	float: none !important;
}

#header {
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
}

ul li {
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
}

li, dt, dd {
	font-size: inherit;
}

div.breadcrumbs {
	background: none;
	border: 0;
}