{% extends "table.html" %}
{% block body_class %}events{% endblock body_class %}
{% block maintitle %}אירועים{% endblock maintitle %}
{% block table_rows %}

<tr>
    <th width="32%">שם הארוע</th>
    <th>תיאור</th>
</tr>
{% for event in event_list %}
<tr>
    <td class="rainbowcell rbcell_{{ forloop.counter }}">
        <a href="{% url 'event-details' discipline.id event.id %}">
            {{ event.title }}
        </a>
    </td>
    <td>{{ event.description }}</td>
</tr>
{% endfor %}
{% endblock table_rows %}
